<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <img [src]="currentImage" *ngIf="currentImage"> -->
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as pos">
      <img [src]="photo.data" />
      <ion-button expand="block" fill="outline" (click)="photoService.deletePicture(photo, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
