<ion-header>
  <ion-toolbar>
    <ion-title>
      Jocelynn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!-- <img src="/assets/zen-rocks.jfif" alt="" /> -->
      <img src="/assets/small_suki_decon_jocelynn_2.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get To Know Me</ion-card-subtitle>
        <ion-card-title class="card-title">Welcome to Jocelynn's Page</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p> -->
        <p>Hi my name is Jocelynn Moua and I'm in the fourth grade. I am in choir and love drawing anime and many other things. My faveorite color is purple. I have 2 sisters and a mom and a dad.</p>
    </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Things I like to do</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Books</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cart"></ion-icon>
        <ion-label>Shopping</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="contacts"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <!-- <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item> -->
    </ion-list>
</ion-content>
