<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="myObservable$ | async; let device"> {{ device.name }}</p>
  <p *ngFor="let number of myNumbersObservable$ | async">{{ number.name }} {{ number.address }}</p>
  <!-- <ion-item>${scanService.qrCode}</ion-item> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="scanService.scanBarcode()">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
